.chatperson {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid rgba(0, 0, 0, 0.495);
   margin-top: 20px;
}


.avatar {
   width: 30px;
   height: 30px;
   background-size: contain;
}

.avatar-tick {
   width: 10px;
   height: 10px;
   background-size: contain;
}

.person-ifo {
   text-align: start;
}

.name {
   margin: 0 0 10px 0;
}

.message {
   margin-bottom: 20px;
   color: rgba(0, 0, 0, 0.662);
}