.chats-btn {
   width: 100px;
   height: 40px;
   background-color: inherit;
   border: 1px solid black;
   border-radius: 10px;
   margin: 5px;
   cursor: pointer;
}

.chats {
   text-align: start;
   color: rgb(0, 132, 255);
   font-weight: 400;
   margin-left: 20px;
}

.chats-wrapper {


}
