.single-chat {
   display: flex;
   justify-content: flex-start;
   margin: 10px;
   align-items: flex-start;
   transition:all 0.5s;
   animation: ani 1s forwards;
}

@keyframes ani {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

.single-chat img {
   margin-right: 10px;
  
}

.single-chat .comment {
   background-color: rgba(128, 128, 128, 0.151);
   padding: 10px 15px;
   border: 1px solid white;
   border-radius: 20px;
   width: fit-content;
   height:fit-content;
}

.single-chat .date {
   margin: 10px 0;
}